@font-face {
    font-family: "Hit me, punk!";
    src: url(/selfProjects/fonts/hit_me_punk/Hit\ me\,\ punk!\ 02.ttf);
}
@font-face {
    font-family: "Chinese rocks";
    src: url(/selfProjects/fonts/chinese_rocks/chinese\ rocks\ rg.otf);
}
@font-face {
    font-family: "typewriter";
    src: url(/selfProjects/fonts/jmh_typewriter/JMH\ Typewriter.ttf);
}